// ------------------------------------------------------------
// Buttons
// ------------------------------------------------------------
@mixin button($type:default){
  appearance: none;
  background-color: $main;
  border: solid 2px $main;
  color: $light;
  cursor: pointer;
  display: block;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  padding: 13px 23px;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  transition: background-color $base-duration $base-timing, color $base-duration $base-timing, border $base-duration $base-timing;
  text-align: center;
  text-transform: uppercase;
  display: inline-block;
  border-radius: $border-radius;
  @include font-size(12px);

  &:hover {
    background-color: $dark;
    border-color: $dark;
    color: $light;
  }

  @if $type == outline {
    background-color: transparent;
    &:hover{
      background-color: $dark;
      border-color: $dark;
    }
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

}

#{$all-buttons},
.btn {
  @include button
}

.btn-outline{
  @include button(outline);
}