// ------------------------------------------------------------
// Grid Settings
// ------------------------------------------------------------
@import "neat-helpers";

// Neat Overrides
$grid-columns: 12;
$gutter: golden-ratio(1em, 1);
$max-width: 1200px;

// Neat Breakpoints
$medium-screen: 768px;
$lt-medium-screen: 767px;
$large-screen: 1024px;
$lt-large-screen: 1023px;
$extra-large-screen: 1200px;
$lt-extra-large-screen: 1199px;

$small-only: new-breakpoint(max-width $lt-medium-screen);
$medium-up: new-breakpoint(min-width $medium-screen);
$medium-to-large: new-breakpoint(max-width $lt-large-screen min-width $medium-screen);
$large-down: new-breakpoint(max-width $lt-large-screen);
$large-up: new-breakpoint(min-width $large-screen);
$extra-large-up: new-breakpoint(min-width $extra-large-screen);
$portrait: new-breakpoint(orientation portrait);