// ------------------------------------------------------------
// Settings
// ------------------------------------------------------------

// Vars
// ------------------------------------------------------------

// Colours
$light: #f4f5ec;  // White
$dark: #333333;   // Black
$main: #f38430;    // Blue
$error: #f00;     // Red
$border: #999;    // Grey

$twitter: #55acee;   // Twitter
$facebook: #3b5998;  // Facebook
$instagram: #125688; // Instagram
$linkedin: #007bb5;  // Linkedin
$pinterest: #cb2027;  // Pinterest
$googleplus: #dd4b39;  // Google+


// Typography
$base-font-size: 16px;
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Border
$base-border: 1px solid $border;

// Other Sizes
$border-radius: 3px;
$base-spacing: 20px;

// Animations
$base-duration: 0.4s;
$base-timing: linear;

// Layout
$max-width: 1400px;

// Media Query Settings
// ------------------------------------------------------------
$mq-responsive: true;
$mq-breakpoints: (
  small:  320px,
  medium: 768px,
  large:  1024px,
  extra-lare:  1200px,
);

@import '../../../../node_modules/sass-mq/mq';

// Grid Settings
// ------------------------------------------------------------

// $susy-columns: 12;
// $susy-gutter-width: 15px;
$susy: (
  columns: 12
);

// Mixins
// ------------------------------------------------------------
@mixin font-family{
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

@mixin font-size($size){
  font-size: $size;
  font-size: rem($size);
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin vertical-align{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin cap-text{
  text-transform: uppercase;
  @include font-size(16px);
  font-weight: 700;
}

@mixin list-style-none{
  padding: 0;
  margin: 0;
  &:before{display: none;}
}

// Helper Classes
// ------------------------------------------------------------
.screen-reader-text{display: none;}