// ------------------------------------------------------------
// Settings
// ------------------------------------------------------------

// Vars
// ------------------------------------------------------------

// Colours
$light: #ffffff;  // White
$dark: #000000;   // Black
$main: #00f;      // Blue
$error: #f00;     // Red
$border: #999;    // Grey

$twitter: #55acee;   // Twitter
$facebook: #3b5998;  // Facebook
$instagram: #125688; // Instagram
$linkedin: #007bb5;  // Linkedin
$pinterest: #cb2027;  // Pinterest
$googleplus: #dd4b39;  // Google+


// Typography
$base-font-size: 16px;
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Border
$base-border: 1px solid $border;

// Other Sizes
$border-radius: 3px;
$base-spacing: 20px;

// Animations
$base-duration: 0.4s;
$base-timing: linear;

// Forms
$form-box-shadow: inset 0 1px 3px rgba($dark, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($main, $lightness: -5%, $alpha: -0.3);

// Grid Settings
// ------------------------------------------------------------
@import "neat-helpers";

// Neat Overrides
$grid-columns: 12;
$gutter: golden-ratio(1em, 1);
$max-width: 1400px;

// Neat Breakpoints
$medium-screen: 768px;
$lt-medium-screen: 767px;
$large-screen: 1024px;
$lt-large-screen: 1023px;
$extra-large-screen: 1200px;
$lt-extra-large-screen: 1199px;

$small-only: new-breakpoint(max-width $lt-medium-screen);
$medium-up: new-breakpoint(min-width $medium-screen);
$medium-to-large: new-breakpoint(max-width $lt-large-screen min-width $medium-screen);
$large-down: new-breakpoint(max-width $lt-large-screen);
$large-up: new-breakpoint(min-width $large-screen);
$extra-large-up: new-breakpoint(min-width $extra-large-screen);
$portrait: new-breakpoint(orientation portrait);

// Mixins
// ------------------------------------------------------------
@mixin font-family{
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

@mixin font-size($size){
  font-size: $size;
  font-size: rem($size);
}

@mixin aspect-ratio($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

@mixin vertical-align{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin cap-text{
  text-transform: uppercase;
  @include font-size(16px);
  font-weight: 700;
}

@mixin list-style-none{
  padding: 0;
  margin: 0;
  &:before{display: none;}
}

// Helper Classes
// ------------------------------------------------------------
.screen-reader-text{display: none;}