// ------------------------------------------------------------
// Breadcrumbs
// ------------------------------------------------------------

.breadcrumbs{
  text-align: left;
  position: relative;
  min-width: 100%;
  margin: 0 0 $base-spacing -5px;
  color: $dark;
  
  span{
    padding: 0;
    margin: 0 5px;
    a {
      color: $main;
      &:hover{color: $dark;}
    }
  }
}