// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------

// Re-useable container
@mixin container{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  position: relative;
}

.container{
  @include container();
}

// Site Wrapper
.site-content{
  @include container();
}