// ------------------------------------------------------------
// Layout
// ------------------------------------------------------------

// Re-useable container
@mixin wrapper{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  max-width: $max-width;
  position: relative;
  @include clearfix();
}

// 
// Site Wrapper
.site-content, .container{
  @include wrapper();
}

// 2 Column Layout
// ------------------------------------------------------------
#main-content{
  @include mq($from: large) {
    @include span(8 of 12);
  }
}

#secondary-content{
  @include mq($from: large) {
    @include span(4 of 12 last);
  }
}