// ------------------------------------------------------------
// Pagination
// ------------------------------------------------------------

.nav-links{
  @include clearfix();

  a{}

  .nav-previous{
    float: left;
    text-align: left;
  }

  .nav-next{
    float: right;
    text-align: right;
  }

}