// ------------------------------------------------------------
// Post
// ------------------------------------------------------------

article.post{
  margin-bottom: $base-spacing;
  .featured-image{
    display: block;
    margin-bottom: $base-spacing;
  }
  h2{
    @include font-size(21px);
    @include font-medium();
  }
  .post-meta{
    @include font-size(12px);
  }

}