// ------------------------------------------------------------
// Social
// ------------------------------------------------------------

.social{
  a{
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 999em;
    text-align: center;
    background-color: $main;
    color: $light;
    @include font-size(15px);
    &.facebook{background-color: $facebook;}
    &.twitter{background-color: $twitter;}
    &.instagram{background-color: $instagram;}
    &.linkedin{background-color: $linkedin;}
    &.pinterest{background-color: $pinterest;}
    &.googleplus{background-color: $googleplus;}

    &:hover{
      background-color: $dark !important;
    }
  }
}