// ------------------------------------------------------------
// News
// ------------------------------------------------------------

// Article Page
body.blog {
  #main-content{
    width: 100%;
    @include clearfix();
    @include mq($from: medium){
      .post{
        @include span(4 of 12);
        &:nth-child(3n+3){@include last();}
        &:nth-child(3n+4){clear: left;}

      }
    }

  }

  #supporting-content{
    display: block;
    clear: both;
  }
}

// Single Page
body.single {
  
  .post-meta{
    margin-bottom: $base-spacing;
    display: block;
    @include clearfix();
    position: relative;
    img{
      float: left;
      width: 100px;
      height: 100px;
      border-radius: 100px;
      border: solid 1px $border;
      margin-right: $base-spacing;
    }
    p{
      color: $border;
      position: absolute;
      top: 50%;
      left: 110px;
      transform: translateY(-50%);
    }
  }

  .attachment-post-thumbnail{
    margin-bottom: $base-spacing;
  }


}
