// ------------------------------------------------------------
// Call to action 
// ------------------------------------------------------------

.component.component--call-to-action{
  background-color: $border;
  text-align: center;
  padding: gutter();
}