// ------------------------------------------------------------
// Quote
// ------------------------------------------------------------

.component.component--quote{
  background-color: $border;
  text-align: center;
  padding: gutter();
}